.card {
  border: 10px solid black;
  padding: 10px;
  margin: 10px;
background-color: #95A3B3;
  width: 350px;
  height: 200px;

}




.img-card {
  float :right;
  width: 100px;
  height: 100px;
 
}


